NEXT_PUBLIC_API_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDlhS_EUASYGgyRWlzgD5Hs3p-37Pck27s
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=vekko-staging.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=vekko-staging
NEXT_PUBLIC_FIREBASE_APP_ID=1:22676521478:web:75a729967e88a924443987
